
/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
  50% {
    background-color: shade(@warning_color, 0.8);
  }
}


@keyframes blink-error {
  50% {
    background-color: shade(@error_color, 0.8);
  }
}

@keyframes blink-success {
  50% {
    background-color: shade(@success_color, 0.5);
  }
}

@keyframes blink-normal {
  50% {
    background-color: @link_color;
  }
}

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  background: @theme_bg_color;
  color: @theme_fg_color;
  font-family: Roboto, sans-serif;
  /*font-family: Hack Nerd Font;*/
  font-size: 14px;
}

box#tray,
label {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Each module */

/* Each module that should blink */
#custom-notification.notification,
#systemd-failed-units,
#mode,
#network,
#cpu,
#memory,
#temperature,
#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 2s;
}

/* Each critical module */
#systemd-failed-units,
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
  background-color: shade(@error_color, 0.5);
}

/* Each critical that should blink */
#systemd-failed-units,
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
  animation-name: blink-error;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
  color: @warning_color;
}

/* Each warning that should blink */
#battery.warning.discharging {
  animation-name: blink-warning;
}

/* left */
#workspaces button {
  font-weight: bold;
  background: @theme_base_color;
}

#workspaces button.focused {
  background: @theme_selected_bg_color;
}

#workspaces button.urgent {
  border-color: @error_color;
  color: @error_color;
}

#mode {
  background: @theme_base_color;
  animation-name: blink-normal;
  animation-duration: 1s;
}


#scratchpad{
  background: @theme_base_color;
}


/* middle */
 #window {
  padding: 0;
}

/* right */
#custom-pacman,
#custom-weather,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#battery {
  background: @insensitive_bg_color;
}

/*#pulseaudio.bluetooth {
  background: @link_color;
}*/
#pulseaudio {
  background: shade(@theme_selected_bg_color, 0.7);
}

#pulseaudio.muted {
  /*background: shade(@error_color, 0.5);*/
  background: @insensitive_bg_color;
}

#custom-pacman {
  color: shade(@error_color, 0.5);
}

#clock {
  background: shade(@theme_selected_bg_color, 0.7);
  color: @theme_text_color;
}

#tray {
  background: @theme_selected_bg_color;
}

#custom-notification {
  background: @theme_selected_bg_color;
  color: @theme_text_color;
}

#custom-notification.notification {
  background: shade(@success_color, 0.8);
  color: shade(@success_color, 1.8);
  animation-name: blink-success;
}
