
/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
  50% {
    background-color: @insensitive_bg_color;
  }

  to {
    background-color: @warning_color;
  }
}

@keyframes blink-critical {
  50% {
    background-color: @insensitive_bg_color;
  }

  to {
    background-color: @error_color;
  }
}

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  background: @theme_bg_color;
  color: @theme_fg_color;
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

box#tray,
label {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Each module */

/* Each module that should blink */
#custom-notification,
#systemd-failed-units,
#mode,
#network,
#cpu,
#memory,
#temperature,
#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Each critical module */
#systemd-failed-units,
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
  background-color: @error_color;
}

/* Each critical that should blink */
#systemd-failed-units,
#mode,
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#scrathpad,
#mode {
  animation-duration: 1s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
  color: @error_color;
}

/* Each warning that should blink */
#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

/* left */
#mode {
  color: @theme_fg_color;
  background: @insensitive_bg_color;
}

#scratchpad{
  background: shade(@success_color, 0.8);
  color: shade(@success_color, 1.8);
}

#workspaces button {
  font-weight: bold;
  color: @theme_fg_color;
  background: @theme_base_color;
}

#workspaces button.focused {
  background: @theme_selected_bg_color;
}

#workspaces button.urgent {
  border-color: @error_color;
  color: @error_color;
}

/* middle */
 #window {
  padding: 0;
}

/* right */
#custom-pacman,
#custom-weather,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#battery {
  background: @insensitive_bg_color;
}

#pulseaudio.bluetooth {
  background: shade(@success_color, 0.8);
  color: shade(@success_color, 1.8);
}

#pulseaudio.muted {
  background: shade(@warning_color, 0.5);
  color: shade(@warning_color, 1.3);
}

#custom-pacman {
  color: shade(@error_color, 0.8);
}

#clock {
  background: shade(@theme_selected_bg_color, 0.7);
  color: @theme_text_color;
}

#tray {
  background: @theme_selected_bg_color;
  color: @theme_text_color;
}

#custom-notification {
  background: @theme_selected_bg_color;
  color: @theme_text_color;
}

#custom-notification.notification {
  background: shade(@success_color, 0.8);
  color: shade(@success_color, 1.8);
}
