
/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

/* COLORS */
@define-color bg #1d2021;
@define-color fg #ebdbb2;
@define-color warning #fe8019;
@define-color critical #fb4934;
@define-color workspacesfocused #7c6f64;
@define-color workspaces #282828;
@define-color scratchpad #83a598;
@define-color module #282828;
@define-color mode #504945;
@define-color date #504945;
@define-color time #665c54;
@define-color tray #7c6f64;
@define-color mute #d65d0e;
@define-color bluetooth #458588;

@keyframes blink-warning {
  70% {
    background-color: @module;
  }

  to {
    background-color: @warning;
  }
}

@keyframes blink-critical {
  70% {
    background-color: @module;
  }

  to {
    background-color: @critical;
  }
}


* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  background: @bg;
  color: @fg;
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

box#tray,
label {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Each module */
/*#mode,
#scratchpad,
#window,
#custom-pacman,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#battery,
#clock,
#tray {
}*/

/* Each module that should blink */
#mode,
#memory,
#temperature,
#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Each critical module */
#systemd-failed-units,
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
  background-color: @critical;
}

/* Each critical that should blink */
#systemd-failed-units,
#mode,
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
  color: @warning;
}

/* Each warning that should blink */
#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

/* And now modules themselves in their respective order */

/* left */
#mode { /* Shown current Sway mode (resize etc.) */
  color: @fg;
  background: @mode;
}

#workspaces button {
  font-weight: bold;
  color: @fg;
  background: @workspaces;
}

#workspaces button.focused {
  background: @workspacesfocused;
}

#workspaces button.urgent {
  border-color: #c9545d;
  color: #c9545d;
}

#scratchpad {
  background: @scratchpad;
}

/* middle */
 #window {
  padding: 0;
}

/* right */
#custom-pacman,
#custom-weather,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#battery {
  background: @module;
}

#pulseaudio.bluetooth {
  color: @bg;
  background: @bluetooth;
}

#pulseaudio.muted {
  color: @bg;
  background: @mute;
}

#custom-pacman {
  color: @critical;
}

#clock.date {
  background: @date;
}

#clock {
  background: @time;
}

#tray {
  background: @tray;
}
